.navbar-custom {
    background-color: black; 
}

.hidden
{
    display: none;
}

/* Wyśrodkowanie nawigacji w stosunku do całej szerokości strony */
.navbar-custom {
    width: 100%; /* Ustaw szerokość nawigacji na 100% szerokości strony */
    display: flex;
    justify-content: center; /* Wyśrodkowanie nawigacji wzdłuż osi poziomej */
    margin-bottom: 30px;
}

.navbar-nav {
    padding: 0;
}

/*.navbar-nav .nav-item {
    display: inline-block; /* Wyśrodkowanie elementów nawigacji w poziomie */
    /*margin: 0 10px; /* Dodatkowy margines między elementami nawigacji (opcjonalnie) */
    /*transition: color 0.1s; /* Animacja zmiany koloru tekstu 
}*/

/*.navbar-nav .nav-item a:hover {
    color: #eec67d !important; /* Kolor tekstu po najechaniu myszką 
}*/

.form-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dwie kolumny o równej szerokości */
    grid-gap: 50px; /* Zwiększony odstęp między kolumnami */
}

.form-column {
    grid-column: span 1; /* Każda kolumna zajmuje jedną jednostkę szerokości */
}

.form-actions {
    grid-column: span 2; /* Te przyciski zajmują obie kolumny */
}



.btn-custom-edit {
    color:#000000; /* Kolor tekstu na przycisku "Edytuj" */
    /* Dodaj inne style według potrzeb */
}

.btn-custom-delete {
    color: #000000; /* Kolor tekstu na przycisku "Usuń" */
    /* Dodaj inne style według potrzeb */
}

.btn-custom-edit,
.btn-custom-delete {
    font-size: 17px; /* Zmniejsz rozmiar czcionki przycisków (możesz dostosować według potrzeb) */
    padding: 5px 10px; /* Dodaj padding przyciskom (możesz dostosować według potrzeb) *//
}

h1
{
    margin-bottom: 20px;
}

.table-custom
{
    margin-bottom: 30px;
}

.custom-select
{
    margin-bottom: 30px;
}

h2
{
    margin-top: 20px;
}

.btn-primary
{
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #055509;
}

.btn-secondary {
    background-color: #3b3737; /* Wybierz dowolny kolor tła, np. ciemny szary */
    color: #fff; /* Kolor tekstu na przycisku */
    font-size: 13px;
    padding: 12px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #7c1008;
    color: white;
}

.input-short {
    width: 200px; /* Lub inna szerokość według potrzeb */
}

.input-medium {
    width: 400px; /* Lub inna szerokość według potrzeb */
}

/* Styl domyślny dla nawigacji */
.navbar-nav .nav-link {
    text-decoration: none; /* Wyłącz domyślne podkreślenie */
    position: relative; /* Ustaw pozycję względną */
    color: #000; /* Kolor tekstu */
    transition: transform 0.3s ease;
}

/* Efekt podkreślenia po najechaniu myszą */
.navbar-nav .nav-link::after {
    content: ""; /* Dodaj pusty kontener dla podkreślenia */
    position: absolute; /* Ustaw pozycję absolutną */
    left: 0; /* Przesuń podkreślenie na początek tekstu */
    bottom: -2px; /* Ustaw odległość podkreślenia od tekstu */
    width: 0; /* Początkowa szerokość podkreślenia (niewidoczne) */
    height: 2px; /* Wysokość podkreślenia */
    background-color: #f1b340; /* Kolor podkreślenia */
    transition: width 0.3s ease; /* Płynna animacja zmiany szerokości */
}
/* Animacja podkreślenia po najechaniu */
.navbar-nav .nav-link:hover::after {
    width: 100%; /* Rozszerz podkreślenie na pełną szerokość tekstu */
    
}
.navbar-nav .nav-link:hover
{
    transform: scale(1.05); /* Powiększenie napisu o 5% */
}


.table-custom td,
.table-custom th {
    border: 1px solid #f1b340; /* Zastąp "your-color" wybranym przez Ciebie kolorem */
    color: black;
}

